@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.hide{
    display: none;
}

/* shard related styles */
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  max-width: 1440px;
  margin: 0 auto;
}

.display-flex{
     display: flex;
}

.color-primary{
    color: #3A3A3A;
}

.color-secondary{
    color: #000000;
}

.btn{
    padding: 15px 24px ;
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    font-size: 1rem;
    font-weight:bold;
    margin-top: 16px;
}

/* main styles */

.navbar{
    justify-content: space-between;
    padding-top: 90px;
}

.nav-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-items{
    gap: 34px;
}

.nav-item{
    list-style: none;
}
.nav-list{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav-list i{
    font-size: 1.5rem;
}

/* Banner related styles */

.banner-container{
    align-items: center;
}

.banner-text{
    max-width: 582px;
    margin: 145px 133px 70px 0;
}

.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.banner-description{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.banner-image{
    max-width: 475px;
    margin: 70px 12px 0 131px;
    background-image: url(../images/Circle\ design.svg
    );
    background-repeat: no-repeat;
    background-size: 475px; 
}

.banner-image img{
    width: 440px;
    margin: 30px 33px 31px 2px;
}
/* header-companies-container styles */

.header-companies-container{
    max-width: 1110px;
    margin: 70px auto;
    padding: 36px 62px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    
}


/* cards related styles */
.card-section{
    max-width: 1047px;
    margin: 0 auto;
    /* border: 1px solid seagreen; */
    padding: 60px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;

    
}
.card-container-title{
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}
.card{
    width: 100%;
    height: 476px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    
}

.image{
    width: 100%;
    border-radius: 5px;
}

.card-title{
    font-size: 1.75rem;
    font-weight: 500;
    color: rgb(39, 39, 39);
}

.card-price{
    font-size: 1.5rem;
}

.star{
    color: #FB8200;
    margin-right: 8px;
}

.rating{
    font-size: 1rem;
    font-weight: bold;
    color: #5E6366;  

}
.card-description{
    font-size: 1rem;
    font-weight: bold;
    color: #787885;
}

.btn-card{
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #E02C6D;
    text-align: end;
    margin-top: 50px;
}

/* featured-container related styles */
.featured-container{
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 100px;
}

.featured-image img{
    width: 100%;
    height: 270px;
    border-radius: 7px;
}

.featured-text{
    max-width: 610px;
    margin: 23px auto; 
}

.featured-title{
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.featured-deception{
    font-size: 1rem;
    font-weight: bold;
    color: #6C6C6C;
}

.btn-1{
    padding: 15px 24px ;
    color: white;
    background-color: #E02C6D;
    border: none;
    font-size: 1rem;
    font-weight:bold;
    margin-top: 16px;
}

/* footer-container styles */

.footer-container{
    text-align: center;
    margin-top: 100px;
    background-color: #0A0826;
    color: white;
    padding: 50px;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3px;
}

.icon-container{
    margin-top: 5px;
    font-size: 1.5rem;
}

.icon-container >a > i{
    color: white;
    margin-left: 10px;
}



@media screen and (max-width:576px) {
    .navbar,
    .nav-items{
        flex-direction: column;
        align-items: center;
    }
    .banner-text {
        margin: 30px;
        text-align: center;
    }
    .banner-image{
        margin: 10px;
    }
    
    .header-companies-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 10px;
    }
    .card-container{
        grid-template-columns: 1fr;
        margin-left: 2px;
    }
    .featured-container,
    .banner-container{
        flex-direction:column-reverse ;
    }

    .featured-text{
        margin: 10px;
    }
}